<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.description}">Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body th:style="'background: url(/backgrounds/1.jpg) no-repeat 100% 100%;'">
</style>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" href="/recipes">All recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipe/new">Add new recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-6">
            <div class="card-group">
                <div class="card shadow-lg p-3 bd-white rounded mt-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="card-title" th:text="${recipe.description}">Recipe title</h3>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-outline-secondary btn-lg " href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="card-title">Categories</h5>
                            </div>
                            <div class="col-md-5">
                                <ul th:each="category : ${recipe.categories}">
                                    <li th:text="${category.description}">Cat1</li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <img th:src="@{'/images/'+${recipe.id}+'.jpg'}"
                                     width="200" height="200"/>
                                <a class="btn btn-light btn-sm" href="#"
                                      th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">   Change Image</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="card-title">Prep time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.prepTime + 'min'}">15min</p>
                            </div>
                            <div class="col-md-2">
                                <h5 class="card-title">Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}">XD</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="card-title">Cook time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.cookTime + 'min'}">15min</p>
                            </div>
                            <div class="col-md-2">
                                <h5 class="card-title">Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}">4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="card-title" >Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}">Blog</p>
                            </div>
                            <div class="col-md-2">
                                <h5 class="card-title">URL</h5>
                            </div>
                            <div class="col-md-5">
                                <a href="#" th:href="${recipe.url}">View Original</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg p-3 bd-white rounded mt-3">
                <div class="card-header">
                    <h3 class="card-title">Ingredients</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <ul th:each="ingredient : ${recipe.ingredients}">
                                <li th:text="${ingredient}">One tablespoon of love</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg p-3 bd-white rounded mt-3">
                <div class="card-header">
                    <h3 class="card-title">Directions</h3>
                </div>
                <div class="card-body">
                    <div class="card-text" th:text="${recipe.directions}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec luctus turpis. Aenean eu libero
                        dui. Mauris sollicitudin tempor mattis. Fusce consequat lectus et nulla eleifend, a euismod ex
                        tincidunt. Suspendisse tempor felis sit amet commodo consequat. Curabitur sed finibus eros, nec
                        hendrerit sem. Sed lacinia sollicitudin erat, vel laoreet nibh mollis in. Proin molestie commodo
                        neque eget auctor. Etiam condimentum pretium blandit. Suspendisse felis diam, vulputate et nibh
                        et, mattis sagittis justo. Integer volutpat, diam id imperdiet ultricies, mi lorem feugiat
                        metus, vitae euismod elit mi sed neque. Donec convallis sapien sit amet arcu maximus, sed
                        placerat erat viverra.
                    </div>
                </div>
            </div>
            <div class="card shadow-lg p-3 bd-white rounded mt-3">
                <div class="card-header">
                    <h3 class="card-title">Notes</h3>
                </div>
                <div class="card-body">
                    <div class="card-text" th:text="${recipe.note.recipeNotes}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec luctus turpis. Aenean eu libero
                        dui. Mauris sollicitudin tempor mattis. Fusce consequat lectus et nulla eleifend, a euismod ex
                        tincidunt. Suspendisse tempor felis sit amet commodo consequat. Curabitur sed finibus eros, nec
                        hendrerit sem. Sed lacinia sollicitudin erat, vel laoreet nibh mollis in. Proin molestie commodo
                        neque eget auctor. Etiam condimentum pretium blandit. Suspendisse felis diam, vulputate et nibh
                        et, mattis sagittis justo. Integer volutpat, diam id imperdiet ultricies, mi lorem feugiat
                        metus, vitae euismod elit mi sed neque. Donec convallis sapien sit amet arcu maximus, sed
                        placerat erat viverra.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>